:root{
    --background-color: #161616;
    --main-text-color: #ffffff;
    --select-tab-color: #dd1e57;
    --accent-red-color: #FE1809;
    --accent-orange-color: #FB5D1C;
    --secondary-text-color: #555555;
}