@import url("../../../../styles/colors.css");

:root {
  --card-color-indigo: rgba(32, 72, 217, 0.5);
  --card-color-blue: rgba(35, 170, 246, 0.5);
  --card-color-green: rgba(35, 246, 132, 0.5);
}

.Card {
  width: 240px;
  height: 160px;
  border-radius: 12px;
  position: relative;
  margin-top: 24px;
}
.Card__background {
  object-fit: cover;
  width: 240px;
  height: 160px;
  border-radius: 12px;
}
.Card__content {
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}
.Card__subtitle {
  margin-top: 4px;
}
.Card__content_indigo {
  background-color: var(--card-color-indigo);
}
.Card__content_blue {
  background-color: var(--card-color-blue);
}
.Card__content_green {
  background-color: var(--card-color-green);
}
.Card__rating {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.Card__rating .Rating {
  margin-left: 10px;
}
.Card__left {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}
.Card__number {
  position: absolute;
  top: calc(50% - 10px);
  left: -36px;
  opacity: 0.6;
}
